<div class="input {{#if isError}}input_error{{/if}}" >
    <input
           
            class="input-input"
            type="{{type}}"
            id="{{id}}"
            value="{{value}}"
            name="{{id}}"
            placeholder=""
            ref="{{id}}"
    />
    <label class="input-label" for="{{id}}">
        {{ placeholder }}
    </label>
    <span class="input-error-message">{{ error }}</span>
</div>
