<div class="input">
    <input
            class="input-input"
            type="{{type}}"
            id="{{id}}"
            value="{{value}}"
            name="{{id}}"
            placeholder=" "
    />
    <label class="input-label" for="{{id}}">
        {{ placeholder }}
    </label>
    <span class="input-error-message">{{ errorMessage }}</span>
</div>
