<div class="input">
    <input
            class="input-input"
            type="{{type}}"
            id="{{id}}"
            value="{{value}}"
            placeholder=" "
    />
    <label class="input-label" for="{{id}}">
        {{placeholder}}
    </label>
    <span class="input-error-message">{{errorMesage}}</span>
</div>
