<div class="p-input">
    <input
            class="p-input__input"
            type="{{type}}"
            id="{{id}}"
            value="{{value}}"
            placeholder=" "
    />
    <label class="p-input__label" for="{{id}}">
        {{placeholder}}
    </label>
    <span class="p-input__error-message">{{errorMesage}}</span>
</div>
